.barra {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barra-busqueda {
    width: 50vw;
    padding: 10px;
    outline: none;
    border: 5px solid #170229;
    font-weight: 600;
}

/*
Esta class hace que se muestre solo lo que pongas en el buscador,
la dejo comentada por las dudas no te haga falta.

.filtro {
    display: none;
}
*/